n8n-workflows/partner-ai-processing-webhook.json
{
  "name": "Partner AI Processing Webhook",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Partner Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "partner-ai-processing",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      }
    },
    {
      "id": "check-ai-status",
      "name": "Check AI Processing Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.ai_processing_status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "call-ai-processing",
      "name": "Call AI Processing API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://b6c3540bf829.ngrok-free.app/api/ai-processing/process-partner/{{$json.partner_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MiwiaWF0IjoxNzU4MjUwNzcwLCJleHAiOjE3NjA4NDI3NzB9.PtmoaJoMjR-Kwm8RGeQLagfUFOszyRrY22yRirQ7wuQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 150],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={\"status\": \"success\", \"message\": \"AI processing initiated\", \"partner_id\": \"{{$json.partner_id}}\", \"result\": {{JSON.stringify($json)}}}"
      }
    },
    {
      "id": "skip-response",
      "name": "Skip Processing Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 400],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={\"status\": \"skipped\", \"message\": \"Partner does not require AI processing\", \"partner_id\": \"{{$json.partner_id}}\"}"
      }
    }
  ],
  "connections": {
    "Partner Webhook": {
      "main": [
        [
          {
            "node": "Check AI Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Processing Status": {
      "main": [
        [
          {
            "node": "Call AI Processing API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Processing Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Processing API": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null
}