n8n-workflows/podcast-ai-processing-dev.json
{
  "name": "Podcast AI Processing - DEV",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "podcast-ai-processing-dev",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "podcast-ai-processing-dev"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/podcasts/process-pending",
        "authentication": "noAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "options": {
          "timeout": 90000
        }
      },
      "id": "process_podcasts",
      "name": "Process Pending Podcasts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: $json.success || false, message: $json.message || 'Podcast processing triggered', processed: $json.processed || 0, results: $json.results || [] }) }}",
        "options": {}
      },
      "id": "webhook_response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Pending Podcasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Pending Podcasts": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "staticData": null,
  "meta": {
    "instanceId": "podcast-ai-processing-dev"
  },
  "tags": [
    {
      "id": 1,
      "name": "podcast",
      "createdAt": "2025-01-22T10:00:00.000Z",
      "updatedAt": "2025-01-22T10:00:00.000Z"
    },
    {
      "id": 2,
      "name": "ai-processing",
      "createdAt": "2025-01-22T10:00:00.000Z",
      "updatedAt": "2025-01-22T10:00:00.000Z"
    },
    {
      "id": 3,
      "name": "dev",
      "createdAt": "2025-01-22T10:00:00.000Z",
      "updatedAt": "2025-01-22T10:00:00.000Z"
    }
  ]
}